.template-images {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
  height: 250px;
  overflow-y: scroll;
  cursor: context-menu
}

.template-images::-webkit-scrollbar {
  display: none;
}

.image-container {
  position: relative;
}

.image {
  width: 100px;
  height: 100px;
  z-index: 2;
  padding: 10;
  border-radius: 10px;
  transition: .5s ease;
  backface-visibility: hidden;
}

.overlay {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 24px;
  right: 0;
  top: 24px;
  background-color: rgba(23, 23, 23, 0.6);
  overflow: hidden;
  width: 100px;
  height: 0;
  transition: .5s ease;
  border-radius: 10px;
}

.delete-button {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  color: rgb(255, 77, 77);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


.image-container:hover .overlay {
  cursor: pointer;
  height: 100px;
}