.w-80 {
  width: 80%;
}

.mne-4 {
  margin-right: -10px;
  margin-top: -5px;
}

.mns-3 {
  margin-left: -10px !important;
}

.mns-7 {
  margin-left: -70px !important;
}

.fs-xss {
  margin-top: -10px;
  font-size: 13px;
  color: rgb(206, 208, 209);
}

.fs-xsss {
  font-size: 10px;
  color: rgb(206, 208, 209);
}

.table-bordered {
  color: white !important;
  border-color: rgb(76, 76, 99);
}

.table-row-hover {
  color: rgb(205, 205, 234);
}

.table-row-hover:hover {
  cursor: pointer;
  background-color: #1F2A40 !important;
}

.dropdown-menu {
  background-color: #2a3957;
  color: white;
}

.dropdown-menu:hover {
  background-color: #070d1a;
}

.btn-outline-primary {
  color: rgb(159, 206, 249) !important;
  border: 1px solid rgb(159, 206, 249) !important;
}

.btn-outline-primary:hover {
  background-color: #1b253c !important;

}

.btn-primary {
  background-color: rgb(159, 206, 249) !important;
  border: none;
}

.btn-primary:hover {
  background-color: rgb(59, 109, 155) !important;
}

.nav-link {
  color: rgb(129, 195, 215) !important;
}

textarea {
  background-color: #151f33 !important;
  border-color: #151f33 !important;
  color: rgb(204, 204, 206) !important;
}